@model  DV_Prog4_EE.Models.EventIndexViewModel
@using DV_Prog4_EE.Domain;
@using DV_Prog4_EE.Enums;
@{
    ViewData["Title"] = "Index";
}

<h2>Events</h2>

@*<div class="rtable">
    <div class="rrow">
        <div class="tableHeading">
            Title
        </div>
        <div class="tableHeading">
            Description
        </div>
        <div class="tableHeading">
            Date
        </div>

    </div>
    <div class="rrow">
        <div class="rcell">
            test
        </div>
        <div class="rcell">
            test
        </div>
        <div class="rcell">
            <div class="rcell">
                test       <p></p>
            </div>
        </div>
        <div class="rcell" style="width: 100px;">
            <a asp-controller="Event" asp-action="EditEvent" class="glyphicon glyphicon-edit" aria-hidden="true"></a>
        </div>
        <div class="rcell" style="padding-left: 0;">
            <a asp-controller="Event" asp-action="DeleteEvent" class="glyphicon glyphicon-remove"></a>
        </div>
    </div>
</div>*@


<div class="panel-group">
    @foreach (var item in Model.Events)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 panel panel-info" id="draaiboekelement">
            <input id="hidden" type="hidden" @*asp-for="@ID"*@ />
            @*<div class="panel-heading">
            
            </div>*@
            <div class="panel-body" id="draaiboekelementContent">
                <p class="text-uppercase bg-info" id="titel">Members</p>
                <ul>
                @foreach(AppUser a in item.Invitees)
                {
                    <li>
                        @a.FirstName @a.LastName
                    </li>
                }
                </ul>
                <p class="text-uppercase bg-info" id="titel">Name</p>
                <p>@item.Name</p>

                
                    <p class="text-uppercase bg-info" id="titel">When</p>
                
                    <p>
                        <div>@item.From - @item.To</div>
                        
                    </p>
                <p class="text-uppercase bg-info" id="titel">Action</p>
                <p>
                    @item.Activity
                </p>
                
                <p class="text-uppercase bg-info" id="titel">Description</p>
                <p>
                    @item.Description
                </p>
                
                
            </div>
            <div class="panel-footer">
                <div class="btn-group-vertical btn-block">
                        
                    <a asp-controller="Event" asp-action="Edit" asp-route-mode=@ActionType.NonEdit asp-route-id=@item.Id class="btn btn-success btn-block">View Details</a>
                    @*<a asp-controller="Event" asp-action="Delete" asp-route-id="" class="btn btn-danger btn-block">Delete</a>*@
                </div>
            </div>
        </div>
    }
</div>
